body {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	flex-direction: row;
}

.logo-container {
	align-self: flex-start;
}

.logo-container img{
	width: 80px;
	height: 80px;
}

.navbar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-container-words {

	display: flex;
	flex-direction: column;
	align-self: center;
}

.top-container img{
	align-self: flex-start;
	width: 80px; 
}

.top-container-words h1 {
	order: 0;
}

.top-container-words nav {
	order: 1;
}

