/* HEADING AND NAVIGATION BAR */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  padding: 8px;
  background-color: #d8c3a5;
  overflow: hidden;
}

.top-container h1 {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.top-container img {
  float: left;
  width: 80px;
  margin-right: -40px;
}

.top-container ul {
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-container ul li {
  display: inline;
}

.top-container ul a {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 7px 20px 8px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  justify-content: center;
}

.top-container a:hover {
  background-color: #ddd;
  color: black;
}

/* ABOUT ME */
.aboutme {
  justify-content: space-around;
  margin: auto;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  background-color: #eae7dc;
}

.aboutme a {
  color: #e85a4f;
  text-decoration: none;
}

.intro h4{
  margin: auto;
  justify-content: flex-start;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
}
#hand {
  width: 30px;
}

#profile {
  width: 250px;
  justify-content: flex-end;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20%

}
/*.intro {
  font-family: 'Muli';
  font-size: 20px;
  padding-top: 30px;
  padding-left: 30px;
}*/


/*.subintro {
  line-height: 30px;
  padding-left: 30px;
}
.resume {
  position: relative;
  background-color: #d8c3a5;
  margin: auto;
}
.resume p {
  position: relative;
  font-family: 'Courier New';
  line-height: 20px;
  padding-left: 50px;
  font-size: 15px;
}
*/