/* HEADING AND NAVIGATION BAR */

body,html {
  display: inline-flex;
  align-items: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #eae7dc;
  margin: 0;
  padding: 0;
}
.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  border-bottom-width: 3px;
  border-bottom-color: #8e8d8a;
  border-bottom-style: solid;
  background-color: #d8c3a5;
  overflow: hidden;
  align-self: flex-start;
}

.top-container h1 {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.top-container img {
  float: left;
  width: 80px;
  margin-right: -40px;
}

.top-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-container ul li {
  display: inline;
}

.top-container ul a {
  color: #000;
  text-align: center;
  padding: 7px 20px 8px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
}

.top-container a:hover {
  background-color: #8e8d8a;
  color: white;
}


/* ABOUT ME */
.aboutme {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 130px;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  background-color: #eae7dc;
}
.intro {
  order: 0;
}
.intro a {
  color: #e85a4f;
  text-decoration: none;

}

.intro h4, h6{
  font-family: 'Muli', sans-serif;
}
#hand {
  width: 30px;
}
.profile {
  order: 1;
  align-self: center;
  padding-left: 20px;
}
#profile {
  width: 300px;
  border-radius: 10%;
  border-style: solid;
  border-width: 3px;
  border-color: #8e8d8a;
  height: auto;
}

/* RESUME */

.resume {
  padding-top: 110px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  background-color: #eae7dc;
}

.notepad-contents {
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8%;
  border-color: #8e8d8a;
  align-self: center;
  background-color: #d8c3a5;
  font-family: 'Courier New';
  line-height: 20px;
  font-size: 15px;
  align-self: center;
}


.work {

}
.footer {
  display: flex;
  flex-direction: row;
  background-color: #d8c3a5;
}